/* font-family: 'Dosis', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root {
    font-size: 62.5%;

    --color-base-blue: rgb(67, 86, 126);
    --color-base-black: #000000;
    --color-base-white: #ffffff;
    --color-base-grey-600: #262f36;
    --color-base-grey: #d0d0d0;
    --color-base-baby-green: rgb(147, 229, 193);
}

body {
    font-size: 1.6rem;
    max-width: 43rem;
    margin-inline: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: var(--color-base-blue);
    color: var(--color-base-white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.logo {
    width: 2.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 2.0rem;
} 

a {
    color: var(--color-base-white);
    opacity: 60%;
    text-decoration: none;
    list-style: none;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
}

a:hover {
    opacity: 100%;
}

main {
    background: var(--color-base-grey-600);
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.code {
    width: 25rem;
}

main h1, main p {
    text-align: center;
    color: var(--color-base-white);
    padding-right: 3.0rem;
    padding-bottom: 2.0rem;
}

main h1 {
    padding-top: 2.0rem;
    margin-bottom: 2.0rem;
}

main a {
    font-size: 2.0rem;
    margin-left: 2.5rem;
}

footer {
    padding: 1.0rem;
    background-color: var(--color-base-blue);
    color: var(--color-base-white);
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

footer p {
    text-align: center;
    font-family: 'Dosis', sans-serif;
}